@page "/Ek_2021"
@using BlazorApp1.Data
@inherits EK2021base


<h1 style="font-size:60px"><img src="/images/logo-euro-2020.png" class=" thumbnail rounded-circle" style="height:80px;width:80px" /> EK 2021</h1>
<hr />

<div style="padding:10px; background-color:lightblue">
    <h3 style="text-align:center">Kwart Finales</h3>
</div>

@if (footbalMatches == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="d-flex">


        @for (int i = 0; i < 4; i++)
        {
            var item = footbalMatches[i];

            <div class="container">

                <div class="card bg-light m-3" style="width:360px">

                    <div class="card-header">
                        <h5>@item.Date.ToString("dd MMM yyyy")</h5>
                    </div>
                    <div class="card-body text-center">
                        <h5>@item.CountryHome.Name - @item.CountryOut.Name</h5>

                        <h1>
                            <img src="@item.CountryHome.ImagePath" class=" thumbnail rounded-circle" style="height:50px;width:50px" />
                            @item.GoalsHome
                            -
                            @item.GoalsOut
                            <img src="@item.CountryOut.ImagePath" class=" thumbnail rounded-circle" style="height:50px;width:50px" />
                        </h1>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>

            </div>

        }
    </div>

    <div style="padding:10px; background-color:lightblue">
        <h3 style="text-align:center">Halve Finales</h3>
    </div>


    <div class="d-flex">

        @for (int i = 4; i < 6; i++)
        {
            var item = footbalMatches[i];

            <div class="container">
                <div class="row justify-content-center m-3">
                    <div class="card bg-light m-2" style="width:360px">

                        <div class="card-header">
                            <h5>@item.Date.ToString("dd MMM yyyy")</h5>
                        </div>
                        <div class="card-body text-center">
                            <h5>@item.CountryHome.Name - @item.CountryOut.Name</h5>

                            <h1>
                                <img src="@item.CountryHome.ImagePath" class=" thumbnail rounded-circle" style="height:50px;width:50px" />
                                @item.GoalsHome
                                -
                                @item.GoalsOut
                                <img src="@item.CountryOut.ImagePath" class=" thumbnail rounded-circle" style="height:50px;width:50px" />
                            </h1>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>

        }

    </div>

    <div style="padding:10px; background-color:lightblue">
        <h3 style="text-align:center">Finales</h3>
    </div>

    <div class="d-flex">

        @for (int i = 6; i < 7; i++)
        {
            var item = footbalMatches[i];

            <div class="container">
                <div class="row justify-content-center m-3">
                    <div class="card bg-light m-2" style="min-width:320px">

                        <div class="card-header">
                            <h5>@item.Date.ToString("dd MMM yyyy")</h5>
                        </div>
                        <div class="card-body text-center">
                            <h5>@item.CountryHome.Name - @item.CountryOut.Name</h5>

                            <h1>
                                <img src="@item.CountryHome.ImagePath" class=" thumbnail rounded-circle" style="height:50px;width:50px" />
                                @item.GoalsHome
                                -
                                @item.GoalsOut
                                <img src="@item.CountryOut.ImagePath" class=" thumbnail rounded-circle" style="height:50px;width:50px" />
                            </h1>
                        </div>
                        <div class="card-footer">

                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

}